.container{
  display: grid;
  grid-template-areas:
  "header header header"
  "menu main sidebar"
  "footer footer footer";
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  height: 100vh;
}

@media (max-width: 768px) {
	.container {
		grid-template-areas:
    "header"
		"menu"
		"main"
		"sidebar"
		"footer";
		grid-template-columns: 100%;
		grid-template-rows: 100px 50px 1fr 50px 70px;
	}
}

.header {
	background-color: greenyellow;
	font-size: 2rem;
	text-align: center;
  grid-area: header;
}
.main {
  background-color: lightblue;
  text-align: center;
  grid-area: main;
}
.menu {
	background-color: gray;
  color: #ffffff;
  grid-area: menu;
}
.sidebar {
	background-color: gray;
  color: #ffffff;
  grid-area: sidebar;
}
.footer {
	background-color:#000000;
	color: #ffffff;
	font-size: 2rem;
  text-align: center;
  grid-area: footer;
}
.header,
.main,
.menu,
.sidebar,
.footer {
	padding: 15px;
}
